<div class="login-wrapper">
  <div class="login-container">
    <h1> Chat Me </h1>
    <form class="form">
      <input type="text" placeholder="Username">
      <input type="password" placeholder="Password">
      <h4 class="ui center aligned medium icon header">
        <i class="circular orange power off tiny icon login-icon"></i>
        Log in to continue
      </h4>
    </form>
  </div>


  <ul class="animated-squared">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

</div>