<div class="login-wrapper">
  <div class="login-container">
    <h1> Chat Me </h1>
    <%= form_for(:session, html: {class: "form", role: "form"}, url: login_path) do |f| %>
      <%= f.text_field :username, placeholder: "Username", class: 'input' %>
      <%= f.password_field :password, placeholder: "Password", class: 'input' %>
      <h4 class="ui center aligned medium icon header">
        <%= f.button "Login", class: "ui orange submit button circular"%>
      </h4>
    <% end %>
  </div>

  <ul class="animated-squared">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

</div>