<main>
  <section class="presentation">
    <div class="introduction">
      <div class="intro-text">
        <h2>Make Connections that count</h2>
        <p>
          Fast, simple and secure messaging chat with ChatMe <span class='dot'></span>
        </p>
      </div>
      <div class="cta">
        <button class="btn-cta cta-select">Get Started</button>
        <button class="btn-cta cta-add">Learn More</button>
      </div>
    </div>

    <div class="cover">
      <%= image_tag("iphone10.png") %>
    </div>
  </section>

  <%= image_tag("big-eclipse.svg", class: "circle big-circle", alt: "Dotes") %>
  <%= image_tag("mid-eclipse.svg", class: "circle medium-circle", alt: "Dotes") %>
  <%= image_tag("small-eclipse.svg", class: "circle small-circle", alt: "Dotes") %>
</main>