@import "semantic-ui";

body {
  font-family: 'Poppins', sans-serif;
}

.chatbox {
  height: 450px;
}

#messages {
  height: 15em;
  overflow: auto;
}

.bordered.inverted {
  display: none;
}

.summary {
  margin: 5px;
}

