<header>
  <div class="logo-container">
    <%= link_to "ChatMe", root_path, class: 'nav-link', id: 'logo' %>
  </div>
  <nav>
    <ul class="nav-links">
      <li><%= link_to "Log in", login_path, class: "nav-link" %></li>
      <li><%= link_to "Messages", message_path, class: "nav-link" %></li>
      <li><%= link_to "Contact", contact_path, class: "nav-link" %></li>
    </ul>
  </nav>
</header>